<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>



<div>
  <ul class="list-inline">
    <% @cocktails.each do |cocktail| %>
    <h3><%= link_to  cocktail.name , cocktail_path(cocktail) %></h3>
    <!--<li><%= cocktail.id %></li>-->
    <li><%= link_to 'add dose', cocktail_path(cocktail) %></li>
    <li><%= link_to 'edit', edit_cocktail_path(cocktail) %></li>
    <li><%= link_to "Delete", cocktail_path(cocktail),
      method: :delete,
      data: { confirm: "Are you sure?" } %></li>
      <br>
    <% end %>
  </ul>
<%=  link_to 'create new cocktail', new_cocktail_path %>
</div>
