<!-- <h1>Ingredients#show</h1>
<p>Find me in app/views/ingredients/show.html.erb</p>
 -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
   <h1>This is the <%= @ingredient.name %> directory</h1>
   <p>These are the cocktails you can create using <%= @ingredient.name %>:</p>
     <ul>
     <% @ingredient.cocktails.each do |cocktail| %>
       <li><h3><%= cocktail.name %></h3></li>
      <%= link_to 'view this cocktail', cocktail_path(cocktail)%>
       <% end %>
     </ul>
     <%= link_to 'cocktail lists', cocktails_path, class: "btn btn-primary" %>
     </div><!--end of offest-->
   </div> <!--end of the row-->
</div><!--end of the container-->
