<h1><%= @cocktail.name%></h1>
<!-- <p>Find me in app/views/doses/new.html.erb</p> -->

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: Ingredient.all%> <!--check schema ask questions about this-->
  <%= f.submit %>
<% end %>
